@using Microsoft.AspNetCore.Http;
@using System.Data;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>DD-Computers</title>
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/shop/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/shop/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/shop/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/shop/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/shop/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/shop/css/style.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                @*<ul class="header-links pull-left">
                        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                        <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                        <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
                    </ul>*@
                <ul class="header-links pull-right">
                    @*<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>*@
                    <li><a asp-controller="Login" asp-action="Index"><i class="fa fa-user-o"></i>Cuenta</a></li>
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <img src="./img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form onsubmit="buscaProductos()">
                                <select class="input-select" id="categoriaSelect">
                                </select>
                                <input class="input" placeholder="Buscar" id="inputCategoria">
                                <button class="search-btn" type="submit">Buscar</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Cart -->
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" onclick="getProductosCarrito()">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Carrito</span>
                                    <div class="qty" id="contadorProducto">0</div>
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list" id="carrito">
                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="~/shop/img/product01.png" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>

                                        @*<div class="product-widget">
                                                <div class="product-img">
                                                    <img src="~/shop/img/product02.png" alt="">
                                                </div>
                                                <div class="product-body">
                                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                    <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                                </div>
                                                <button class="delete"><i class="fa fa-close"></i></button>
                                            </div>*@
                                    </div>
                                    <div class="cart-summary">
                                        @*<small>3 Item(s) selected</small>*@
                                        <h5 id="totalProducto">SUBTOTAL: $0</h5>
                                    </div>
                                    <div class="cart-btns">
                                        @*<a href="#">View Cart</a> obtieneTotal(1)*@
                                        <a href="#" onclick="getDatosCliente()">Procesar  <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a href="#">Inicio</a></li>
                    @*<li><a href="#">Hot Deals</a></li>
                        <li><a href="#">Categories</a></li>
                        <li><a href="#">Laptops</a></li>
                        <li><a href="#">Smartphones</a></li>
                        <li><a href="#">Cameras</a></li>
                        <li><a href="#">Accessories</a></li>*@
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                @*<div id="aside" class="col-md-3">
                        <div class="aside">
                            <h3 class="aside-title">Categories</h3>
                            <div class="checkbox-filter">

                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-1">
                                    <label for="category-1">
                                        <span></span>
                                        Laptops
                                        <small>(120)</small>
                                    </label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-2">
                                    <label for="category-2">
                                        <span></span>
                                        Smartphones
                                        <small>(740)</small>
                                    </label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-3">
                                    <label for="category-3">
                                        <span></span>
                                        Cameras
                                        <small>(1450)</small>
                                    </label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-4">
                                    <label for="category-4">
                                        <span></span>
                                        Accessories
                                        <small>(578)</small>
                                    </label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-5">
                                    <label for="category-5">
                                        <span></span>
                                        Laptops
                                        <small>(120)</small>
                                    </label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-6">
                                    <label for="category-6">
                                        <span></span>
                                        Smartphones
                                        <small>(740)</small>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- /ASIDE -->
                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store products -->
                    <div class="row" id="productos">
                        <!-- product -->
                        <!-- /product -->
                    </div>
                    <!-- /store products -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
            <!-- Large modal -->
            @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>*@

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="miModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Datos de facturación</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Ingrese los datos correspondientes:</p>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrependN"><strong>Nombre completo:</strong></span>
                                    </div>
                                    <input name='cliente'
                                           type="text"
                                           class="form-control"
                                           aria-describedby="inputGroupPrependN"
                                           id="nombre" />
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrependC"><strong>Correo:</strong></span>
                                    </div>
                                    <input name='categoria'
                                           type="text"
                                           class="form-control"
                                           aria-describedby="inputGroupPrependC"
                                           id="correo" />
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrependt"><strong>Teléfono:</strong></span>
                                    </div>
                                    <input name="entrega"
                                           type="text"
                                           class="form-control"
                                           aria-describedby="inputGroupPrependt"
                                           id="telefono" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="obtieneTotal(1)">Aceptar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- jQuery Plugins -->
    <script src="~/shop/js/jquery.min.js"></script>
    <script src="~/shop/js/bootstrap.min.js"></script>
    <script src="~/shop/js/slick.min.js"></script>
    <script src="~/shop/js/nouislider.min.js"></script>
    <script src="~/shop/js/jquery.zoom.min.js"></script>
    <script src="~/shop/js/main.js"></script>
    <script>
        var sede = @Context.Session.GetString("sede");
        var carritoArray = [];
        var elementosCarrito = null;
        //SELECT DE CATEGORIA EN BUSCADOR
        const $select = document.querySelector("#categoriaSelect");
        const agregar = (datos) => {
            //console.log(datos);
            const option = document.createElement('option');
            const valor = datos.id;
            option.value = valor;
            option.text = datos.nombre;
            $select.appendChild(option);
        };
        const agregaCarrito = (id) => {
            carritoArray.push(id);
            const carritoUniqueArray = [...new Set(carritoArray)]; // myArray = [...new Set(myArray)];
            carritoArray = carritoUniqueArray;
            document.getElementById('contadorProducto').innerHTML = '';
            $("#contadorProducto").append(carritoArray.length);
        };
        //AGREGA PRODUCTOS EN EL DIV CORRESPONDIENTES
        const agregarProducto = (datos) => {
            var html = "<div class='col-md-4 col-xs-6'>";
            html += "<div class='product' >";
            html += "<div class='product-img'>";
            html += "<img src='" + datos.imagen + "'></div>";
            html += "<div class='product-body'>";
            html += "<p class='product-category'>" + datos.categoria + "</p>";
            html += "<h3 class='product-name'><a>" + datos.nombre + "</a></h3>";
            html += "<h4 class='product-price'>$" + datos.precio + "</h4>"
            html += "<div class='product-rating'></div> <p class='product-category'>Cantidad: " + datos.cantidad + "</p>";
            html += "</div><div class='add-to-cart'>";
            html += "<button class='add-to-cart-btn' onClick='agregaCarrito(" + datos.id + ")'><i class='fa fa-shopping-cart'></i> Agregar al carro</button></div>";
            html += "</div></div>";
            $("#productos").append(html);
        };
        const agregarHtmlCarrito = (datos) => {
            var html = "";
            html += "<div class='product-widget'><div class='product-img'><img src='" + datos.imagen + "' alt=''></div><div class='product-body'>";
            html += "<h3 class='product-name'><a href='#'>" + datos.nombre + "</a></h3>";
            //html += "<div class='qty-label'>Cant<div class='input-number'><input type='number'><span class='qty-up'>+</span><span class='qty-down'>-</span></div></div><h4 class='product-price'>$" + datos.precio + "</h4></div>";
            html += "<div class='qty-label'>Cant<div class='input-number'><input type='number' name='productosCarrito[]' onChange='obtieneTotal(0)'></div></div><h4 class='product-price'>Cant Max: " + datos.cantidad + "</h4></div>";
            html += "<h4 class='product-price'>Precio: $" + datos.precio + "</h4>";
            html += "<button class='delete' onClick='deleteProductoCarrito(" + datos.id + ")'><i class='fa fa-close'></i></button></div>";
            $("#carrito").append(html);
        }
        const deleteProductoCarrito = (id) => {
            var index = carritoArray.indexOf(id);
            if (index > -1) {
                carritoArray.splice(index, 1);
            }
            document.getElementById('contadorProducto').innerHTML = '';
            $("#contadorProducto").append(carritoArray.length);
            getProductosCarrito();
        };
        const obtieneTotal = (flag) => {
            var ids = [];
            var cantidad = [];
            var precioTotal = 0;
            var elemento = null;
            var incCount = document.getElementsByName("productosCarrito[]").length;
            for (i = 0; i < incCount; i++) {
                elemento = document.getElementsByName("productosCarrito[]")[i].value;
                if (document.getElementsByName("productosCarrito[]")[i].value.length == 0) {
                    precioTotal += elemento * 0;
                }
                else {
                    precioTotal += elemento * elementosCarrito[i].precio;
                    ids.push(elementosCarrito[i].id);
                    cantidad.push(elemento);
                }
            };
            if (flag == 1) {
                var obj = new Object();
                obj.id = ids.join('-');
                obj.cantidad = cantidad.join('-');
                obj.nombre = $("#nombre").val();
                obj.correo = $("#correo").val();
                obj.telefono = $("#telefono").val();
                obj.sede = sede;
                axios.post("http://localhost:9000/Pago/", obj)
                    .then(response => {
                        var datos = response.data;
                        if (datos[0].res == "error") {
                            alertify.error('Error las cantidades son inválidas.');
                        }
                        else {
                            alertify.success(datos[0].res);
                            setTimeout('recargar()', 3000);
                        }
                        //for (var elemento in elementosCarrito) {
                        //    agregarHtmlCarrito(elementosCarrito[elemento]);
                        //}
                    })
                    .catch(error => console.log(error));
            }
            $('#totalProducto').text('SUBTOTAL: $' + precioTotal)
            //console.log(precioTotal);
            //elementosCarrito;
        };
        const getDatosCliente = () => {
            $("#miModal").modal("show");
        }
        //OBTIENE TODOS LOS PRODUCTOS SELECCIONADOS EN EL CARRITO.
        const getProductosCarrito = () => {
            //$("#carrito").remove();
            document.getElementById('carrito').innerHTML = '';
            var obj = new Object();
            obj.id = carritoArray.join();
            obj.sede = sede;
            axios.post("http://localhost:9000/GetCarrito/", obj)
                .then(response => {
                    elementosCarrito = response.data;
                    for (var elemento in elementosCarrito) {
                        agregarHtmlCarrito(elementosCarrito[elemento]);
                    }
                })
                .catch(error => console.log(error));
        };
        //BUSCA LOS PRODUCTOS MEDIANTE EL INPUT DE SEARCH
        const buscaProductos = () => {
            event.preventDefault();
            document.getElementById('productos').innerHTML = '';
            var val = $("#categoriaSelect option:selected").val();
            var input = $("#inputCategoria").val();
            var obj = new Object();
            obj.id = val;
            obj.nombre = input;
            obj.sede = sede;
            axios.post("http://localhost:9000/BuscaProducto/", obj)
                .then(response => {
                    const datosC = response.data;
                    for (var elemento in datosC) {
                        agregarProducto(datosC[elemento]);
                    }
                })
                .catch(error => console.log(error));
        };
        $(window).load(function () {
            var obj = new Object();
            obj.sede = sede;
            //OBTIENE TODAS LAS CATEGORIAS.
            axios.post("http://localhost:9000/GetCategoria/", obj)
                .then(response => {
                    const datosC = response.data;
                    for (var elemento in datosC) {
                        agregar(datosC[elemento]);
                    }
                })
                .catch(error => console.log(error));
            //OBTIENE 10 PRODUCTOS EN INVENTARIO.
            axios.post("http://localhost:9000/GetTodoProducto/", obj)
                .then(response => {
                    const datosC = response.data;
                    //setCustomers(cust => datosC);
                    for (var elemento in datosC) {
                        agregarProducto(datosC[elemento]);
                    }
                })
                .catch(error => console.log(error));
        });
        const recargar = () => {
            location.reload();
        }
    </script>

</body>
</html>
